APP_NAME=NotificationService
APP_ENV=local
APP_KEY=base64:kE8enFUOF/C4tnFt7LaeUbBsS+YGxjeqk0dO6lwl8GU=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_LEVEL=debug

DB_CONNECTION=sqlite
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
INTERNAL_API_KEY=super-secret-key