APP_NAME=APIGateway
APP_ENV=local
APP_KEY=base64:6z0z9MWFVgh2qXZcMqJNovrLNfEIGzEAlw7Tgt6JYmQ=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

# SEM base de dados - é só proxy
DB_CONNECTION=sqlite
SESSION_DRIVER=file
CACHE_STORE=file

TICKET_SERVICE_URL=http://ticket-service:80
NOTIFICATION_SERVICE_URL=http://notification-service:80
API_KEYS=ms-key-2026-prod,ms-key-2026-dev
AUTH_SERVICE_URL=http://auth-service:80