/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/notifications.json
/bootstrap/cache/*
/public/build/
/public/hot
/public/storage
.phpunit.result.cache
.DS_Store
Thumbs.db
*.swp
*.swo
composer.lock