API_GATEWAY_APP_KEY=base64:your-gateway-key
AUTH_SERVICE_APP_KEY=base64:your-auth-key
TICKET_SERVICE_APP_KEY=base64:your-ticket-key
NOTIFICATION_SERVICE_APP_KEY=base64:your-notification-key
TICKET_DB_PASSWORD=password
PASSPORT_PASSWORD_CLIENT_ID=019d58ee-5648-73ee-9925-d35486635437
PASSPORT_PASSWORD_CLIENT_SECRET=
INTERNAL_API_KEY=super-secret-key